{% extends 'layout.html' %} 
{% block title %} Articulos {% endblock %} 

{% block content %} {% if messages %} 

{% for message in messages %}
<div class="message">{{message}}</div>
{% endfor %} {% endif %}

<h2>Listado de articulos</h2>

{% for articulo in articulos %}
<article class="article-item">
  {# Ver si existe y aparte si es mayor o igual a uno la url #} 
  {% if articulo.image != 'null' and articulo.image.url|length >= 1 %}
  <div class="image">
    <img src="{{articulo.image.url}}" />
  </div>
  {% endif %}
  <div class="data">
    <h2>{{articulo.id}} - {{articulo.title}}</h2>
    <span>{{articulo.created_at}}</span>
    <p>{{articulo.content}}</p>
    <a class="btn btn-delete" href="{% url 'borrar' id=articulo.id %}">Borrar</a>
  </div>
  <div class="clearfix">
 </div> 
</article>
{% endfor %} 

{% endblock %}
