{% extends 'layout.html' %} 
{% block title %} Articulos {% endblock %}

{% block content %}

{% if messages %}
  {% for message in messages %}
    <div class="message">
     {{message}}
    </div>
  {% endfor %}
{% endif %}

<h2>
  Listado de articulos
</h2>
<ul>
  {% for articulo in articulos %}
  <li>
    <h4>{{articulo.id}} - {{articulo.title}}</h4>
    <span>{{articulo.created_at}}</span>
    {% if articulo.public %}
      <strong>Articulo Publicado</strong>
    {% else %}
      <strong>Articulo no publicado</strong>
    {% endif %}
    <p>{{articulo.content}}</p>
    <a href="{% url 'borrar' id=articulo.id %}">Borrar</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
