<!--Extends es para hacer uso de platillas padre-->
{% extends 'layout.html' %}

{% block title%}
Create Full
{% endblock %}

{% block content %}

{% if form.errors %}
    <strong class="rojo">
        Hay errores en el Formulario
    </strong>
    {{form.errors}}
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    
    {% comment '' %}
     con el .as_p
     todos los elementos llamados del formulario se encapsulan en una parrafo
    {% endcomment %}
    {{form.as_p}}

    <input type="submit" value="Guardar" />
</form>

{% endblock %}