<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} | Curso Django </title>
    <!--Importat Css-->
    <!-- Cargar archivos estaticos-->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

<body>

    <header>
        <div id="logo">
            <img src="{% static 'images/logo.png' %} " alt="logo" />
            <h1>Sitio con django</h1>
        </div>

    </header>

    <nav>
        <ul>
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a href="/hola-mundo">Hola mundo</a>
            </li>
            <li>
                <a href="/pagina">Pagina prueba</a>
            </li>
            <li>
                <a href="/contacto">Contacto</a>
            </li>
        </ul>
    </nav>


    <div id="content">
        <div class="box">
            {% block content %}
            <!-- Codigo que viene de templates -->
            <strong>contenido padre</strong>
            {% endblock %}
        </div>
    </div>
    <footer>
        Master Python &copy;
    </footer>
</body>

</html>