<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %} | Curso Django</title>
    <!--Importat Css-->
    <!-- Cargar archivos estaticos-->
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
  </head>

  <body>
    <header>
      <div id="logo">
        <img src="{% static 'images/logo.png' %} " alt="logo" />
        <h1>Sitio con django</h1>
      </div>
    </header>

    <nav>
      <ul>
        <li>
          <a href="{% url 'index' %}">Inicio</a>
        </li>
        <li>
          <a href="{% url 'pagina' %}">Hola mundo</a>
        </li>
        <li>
          <a href="{% url 'hola_mundo' %}">Pagina prueba</a>
        </li>
        <li>
          <a href="{% url 'contacto' 'Nombre' 'lopez' %}">Contacto</a>
        </li>
      </ul>
    </nav>

   

    <div id="content">
      <div class="box">
        {% block content %}
        <!-- Codigo que viene de templates -->
        <strong>contenido padre</strong>
        {% endblock %}
      </div>
    </div>
    <footer>Master Python &copy; lodo || {% now "Y-m-d" %} </footer>
  </body>
</html>
